

<head>
    <link rel="stylesheet" href="~/css/movie.css" asp-append-version="true" />
</head>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="rotate-in-2-bck-cw" src="@Href("~/images/movie3.gif")" style="width:100%;height:auto;" alt="">
    </div>
</div>

<div id="app" class="container">
               
 請輸入片名：<input type="text" v-model="search" v-on:keyup="searchNow()" />

    <h6 class="time tracking-in-contract-bck">
        今日電影時刻：
        <br />
        {{nowDate}}
    </h6>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">{{selectMovies.中文名稱}}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <a :href="selectMovies.url">
                        <img id="simg" :src="selectMovies.圖片網址">
                    </a>
                    <h4 style="padding-top:1rem;">{{selectMovies.中文名稱}}</h4>
                    <h5>{{selectMovies.英文名稱}}</h5>
                    <h5>上映日期：{{selectMovies.上映日期}}</h5>
                    <h5>電影片長：{{selectMovies.片長}}</h5>


                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">電影院</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">電影簡介</button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="d-flex align-items-start">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">全部</button>
                                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">北</button>
                                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">中</button>
                                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">南</button>
                                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings1" type="button" role="tab" aria-controls="v-pills-settings1" aria-selected="false">其他</button>
                            </div>
                            <div class="tab-content" id="v-pills-tabContent">
                                <br />
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                    <div v-for="item in selectMovies.時刻表" class="row">

                                        <div v-for="item in item.地區">
                                            <h5 style="text-align:center">{{item.名稱}}</h5>

                                            <div v-for="item in item.電影院">
                                                <h6 class="underline" style="margin:auto;text-align:center"> {{item.名稱}}</h6>
                                                <br>
                                                <span class="row" style="text-align:center;margin:auto">
                                                    <span v-for="item in item.場次" class="col-4">

                                                        {{item.時間}}
                                                    </span>
                                                </span>
                                                <br />
                                            </div>
                                            <br />

                                            <hr style="width:70%;margin:auto">
                                            <br />

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                    <div v-for="item in selectMovies.時刻表" class="row">

                                        <div v-for="item in item.地區" v-if="item.名稱=='台北市'||item.名稱=='台北二輪'||item.名稱=='基隆'||item.名稱=='新北市'||item.名稱=='桃園'||item.名稱=='新竹'||item.名稱=='宜蘭'">
                                            <h5 style="text-align:center">{{item.名稱}}</h5>

                                            <div v-for="item in item.電影院">
                                                <h6 class="underline" style="margin:auto;text-align:center"> {{item.名稱}}</h6>
                                                <br />

                                                <span class="row" style="text-align:center;margin:auto">
                                                    <span v-for="item in item.場次" class="col-4">

                                                        {{item.時間}}
                                                    </span>
                                                </span>
                                                <br />
                                            </div>
                                            <br />

                                            <hr style="width:70%;margin:auto">
                                            <br />

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                    <div v-for="item in selectMovies.時刻表" class="row">

                                        <div v-for="item in item.地區" v-if="item.名稱=='苗栗'||item.名稱=='台中'||item.名稱=='彰化'||item.名稱=='南投'||item.名稱=='雲林'">
                                            <h5 style="text-align:center">{{item.名稱}}</h5>

                                            <div v-for="item in item.電影院">
                                                <h6 class="underline" style="margin:auto;text-align:center"> {{item.名稱}}</h6>
                                                <br />
                                                <span class="row" style="text-align:center;margin:auto">
                                                    <span v-for="item in item.場次" class="col-4">

                                                        {{item.時間}}
                                                    </span>
                                                </span>
                                                <br />
                                            </div>
                                            <br />

                                            <hr style="width:70%;margin:auto">
                                            <br />

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                    <div v-for="item in selectMovies.時刻表" class="row">

                                        <div v-for="item in item.地區" v-if="item.名稱=='嘉義'||item.名稱=='台南'||item.名稱=='高雄'||item.名稱=='屏東'">
                                            <h5 style="text-align:center">{{item.名稱}}</h5>

                                            <div v-for="item in item.電影院">
                                                <h6 class="underline" style="margin:auto;text-align:center"> {{item.名稱}}</h6>
                                                <br />

                                                <span class="row" style="text-align:center;margin:auto">
                                                    <span v-for="item in item.場次" class="col-4">

                                                        {{item.時間}}
                                                    </span>
                                                </span>
                                                <br />
                                            </div>
                                            <br />

                                            <hr style="width:70%;margin:auto">
                                            <br />

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings1" role="tabpanel" aria-labelledby="v-pills-settings1-tab">
                                    <div v-for="item in selectMovies.時刻表" class="row">

                                        <div v-for="item in item.地區" v-if="item.名稱=='花蓮'||item.名稱=='台東'||item.名稱=='金門'||item.名稱=='澎湖'">
                                            <h5 style="text-align:center">{{item.名稱}}</h5>

                                            <div v-for="item in item.電影院">
                                                <h6 class="underline" style="margin:auto;text-align:center"> {{item.名稱}}</h6>
                                                <br />

                                                <span class="row" style="text-align:center;margin:auto">
                                                    <span v-for="item in item.場次" class="col-4">

                                                        {{item.時間}}
                                                    </span>
                                                </span>
                                                <br />
                                            </div>
                                            <br />

                                            <hr style="width:70%;margin:auto">
                                            <br />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <br />
                        <h5 style="background-color:#181818">{{selectMovies.電影簡介}}</h5>
                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="movies" v-if="!search">
        <h1 class="movieClass fade-in-left">動畫/冒險/奇幻</h1>
        <div class=" responsive fade-in-left">
            <div v-for="item in animationOrFantasyOrAdventures" class="book">
                <div v-on:click="selectMovie((item))" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <a :href="item.url">
                        <img :src="item.圖片網址">
                    </a>
                    <h1>{{item.中文名稱}}</h1>
                    <h6>{{item.分級}}</h6>
                </div>
            </div>
        </div>
        <h1 class="movieClass fade-in-right">劇情</h1>
        <div class=" responsive fade-in-right">
            <div v-for="item in plotOrRecords" class="book">
                <div v-on:click="selectMovie((item))" data-bs-toggle="modal" data-bs-target="#exampleModal">

                    <a :href="item.url">
                        <img :src="item.圖片網址">
                    </a>
                    <h1>{{item.中文名稱}}</h1>
                    <h6>{{item.分級}}</h6>
                </div>
            </div>
        </div>

        <h1 class="movieClass fade-in-left">恐怖/懸疑/驚悚</h1>
        <div class=" responsive fade-in-left">
            <div v-for="item in fearOrSuspense" class="book">
                <div v-on:click="selectMovie((item))" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <a :href="item.url">
                        <img :src="item.圖片網址">
                    </a>
                    <h1>{{item.中文名稱}}</h1>
                    <h6>{{item.分級}}</h6>
                </div>
            </div>
        </div>
        <h1 class="movieClass fade-in-right">喜劇/愛情</h1>
        <div class=" responsive fade-in-right">
            <div v-for="item in funnyOrLoves" class="book">
                <div v-on:click="selectMovie((item))" data-bs-toggle="modal" data-bs-target="#exampleModal">

                    <a :href="item.url">
                        <img :src="item.圖片網址">
                    </a>
                    <h1>{{item.中文名稱}}</h1>
                    <h6>{{item.分級}}</h6>
                </div>

            </div>
        </div>
        <h1 class="movieClass fade-in-left">動作/科幻/犯罪</h1>
        <div class=" responsive fade-in-left">
            <div v-for="item in actionOrscienceFictionOrCrimes" class="book">
                <div v-on:click="selectMovie((item))" data-bs-toggle="modal" data-bs-target="#exampleModal">

                    <a :href="item.url">
                        <img :src="item.圖片網址">
                    </a>
                    <h1>{{item.中文名稱}}</h1>
                    <h6>{{item.分級}}</h6>
                </div>

            </div>
        </div>
        <h1 class="movieClass fade-in-right">音樂/歌舞/歷史/傳記/紀錄片</h1>
        <div class=" responsive fade-in-right">
            <div v-for="item in others" class="book">
                <div v-on:click="selectMovie((item))" data-bs-toggle="modal" data-bs-target="#exampleModal">

                    <a :href="item.url">
                        <img :src="item.圖片網址">
                    </a>
                    <h1>{{item.中文名稱}}</h1>
                    <h6>{{item.分級}}</h6>
                </div>

            </div>
        </div>
    </div>
        <div class="movies" v-showe="search">
             <div class="fade-in-left">
            <div v-for="item in isSearch " class="book">
                <div v-on:click="selectMovie((item))" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <a :href="item.url">
                        <img :src="item.圖片網址">
                    </a>
                    <h1>{{item.中文名稱}}</h1>
                    <h6>{{item.分級}}</h6>
                </div>
            </div>
        </div>
</div>

@section Scripts{

           <script src="~/js/movie.js" asp-append-version="true"></script>

    }
